<h3>Descriptive Statistics</h3>

Notebook version of:
https://rcompanion.org/handbook/C_02.html

Define data using inline text

In [29]:
Input = ("
Instructor  Location  Attendees
Ren         North      7
Ren         North     22
Ren         North      6
Ren         North     15
Ren         South     12
Ren         South     13
Ren         South     14
Ren         South     16
Stimpy      North     18
Stimpy      North     17
Stimpy      North     15
Stimpy      North      9
Stimpy      South     15
Stimpy      South     11
Stimpy      South     19
Stimpy      South     23
")

In [30]:
print(Input)

[1] "\nInstructor  Location  Attendees\nRen         North      7\nRen         North     22\nRen         North      6\nRen         North     15\nRen         South     12\nRen         South     13\nRen         South     14\nRen         South     16\nStimpy      North     18\nStimpy      North     17\nStimpy      North     15\nStimpy      North      9\nStimpy      South     15\nStimpy      South     11\nStimpy      South     19\nStimpy      South     23\n"

Read data into a data frame

In [31]:
Data = read.table(textConnection(Input), header=TRUE)

Will output data frame called Data

In [32]:
Data

   Instructor Location Attendees
1  Ren        North     7
2  Ren        North    22
3  Ren        North     6
4  Ren        North    15
5  Ren        South    12
6  Ren        South    13
7  Ren        South    14
8  Ren        South    16
9  Stimpy     North    18
10 Stimpy     North    17
11 Stimpy     North    15
12 Stimpy     North     9
13 Stimpy     South    15
14 Stimpy     South    11
15 Stimpy     South    19
16 Stimpy     South    23

Shows the structure of the data frame

In [33]:
str(Data)

'data.frame':	16 obs. of  3 variables:
 $ Instructor: Factor w/ 2 levels "Ren","Stimpy": 1 1 1 1 1 1 1 1 2 2 ...
 $ Location  : Factor w/ 2 levels "North","South": 1 1 1 1 2 2 2 2 1 1 ...
 $ Attendees : int  7 22 6 15 12 13 14 16 18 17 ...

Summarizes variables in the data frame

In [34]:
summary(Data)

  Instructor  Location   Attendees
 Ren   :8    North:8   Min.   : 6.00
 Stimpy:8    South:8   1st Qu.:11.75
                       Median :15.00
                       Mean   :14.50
                       3rd Qu.:17.25
                       Max.   :23.00

The sum of a variable can be found with the sum function

In [35]:
sum(Data$Attendees)

[1] 232

The number of observations can be found with the length function

In [36]:
length(Data$Attendees)

[1] 16

<h4>Statistics of location for interval/ratio data</h4>

<u>Mean</u>

The <b>mean</b> is the arithmetic average, and is a common statistic used with interval/ratio data.  It is simply the sum of the values divided by the number of values.

In [37]:
# compute the mean manually
sum(Data$Attendees) / length(Data$Attendees)

# compute the mean using built-in function
mean(Data$Attendees)

[1] 14.5

[1] 14.5

Watch out for skewed data when reporting mean values

In [38]:
Income = c(49000, 44000, 25000, 18000, 32000, 47000, 37000, 45000, 36000, 2000000)
mean(Income)

[1] 233300

<u>Median</u>

The <b>median</b> is defined as the value below which are 50% of the observations.

In [39]:
median(Data$Attendees)

[1] 15

In [40]:
median(Income)

[1] 40500

<u>Mode</u>

The <b>mode</b> is simply the value which occurs most frequently. 

The <i>Mode</i> function can be found in the package <i>DescTools</i>.

In [41]:
library(DescTools)
Mode(Data$Attendees)

[1] 15
attr(,"freq")
[1] 3

<h4>Statistics of variation for interval/ratio data</h4>

<u>Standard Deviation</u>

The <b>standard deviation</b> is a measure of variation which is commonly used with interval/ratio data.  It’s a measurement of how close the observations in the data set are to the mean. 

There’s a handy rule of thumb that—for normally distributed data—68% of data points fall within the mean ± 1 standard deviation, 95% of data points fall within the mean ± 2 standard deviations, and 99.7% of data points fall within the mean ± 3 standard deviations.

In [42]:
sd(Data$Attendees)

[1] 4.830459

<u>Standard error of the mean</u>

<b>Standard error of the mean</b> is a measure that estimates how close a calculated mean is likely to be to the true mean of that population.  It is commonly used in tables or plots where multiple means are presented together.

In [43]:
sd(Data$Attendees) / sqrt(length(Data$Attendees))

[1] 1.207615

It can also be found in the output for the <i>describe</i> function in the <i>psych</i> package, labelled <i>se</i>.

In [44]:
library(psych)
describe(Data$Attendees)

   vars n  mean sd       median trimmed mad    min max range skew
X1 1    16 14.5 4.830459 15     14.5    4.4478 6   23  17    -0.04158877
   kurtosis   se
X1 -0.8783418 1.207615

<u>Five-number summary, quartiles, percentiles</u>

The median is the same as the 50th percentile, because 50% of values fall below this value.  Other percentiles for a data set can be identified to provide more information.  Typically, the 0th, 25th, 50th, 75th, and 100th percentiles are reported.  This is sometimes called the five-number summary.

These values can also be called the minimum, 1st quartile, 2nd quartile, 3rd quartile, and maximum.

The five-number summary is a useful measure of variation for skewed interval/ratio data or for ordinal data.  25% of values fall below the 1st quartile and 25% of values fall above the 3rd quartile.  This leaves the middle 50% of values between the 1st and 3rd quartiles, giving a sense of the range of the middle half of the data.  This range is called the interquartile range (IQR).

Percentiles and quartiles are relatively robust, as they aren’t affected much by a few extreme values.  They are appropriate for both skewed and unskewed data.

In [45]:
summary(Data$Attendees)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   6.00   11.75   15.00   14.50   17.25   23.00

<u>Optional technical note on calculating percentiles</u>

(Skipped for now.)

<h4>Statistics for grouped interval/ratio data</h4>

In many cases, we will want to examine summary statistics for a variable within groups.

<u>Summarize in FSA</u>

<i>Attendees</i> is the dependent variable (the variable you want to get the statistics for); and <i>Instructor</i> is the independent variable (the grouping variable).  <i>Summarize</i> allows you to summarize over the combination of multiple independent variables by listing them to the right of the ~ separated by a plus sign (+).

In [75]:
library(FSA)
Summarize(Attendees ~ Instructor, data=Data)

  Instructor n mean   sd       min Q1    median Q3    max
1 Ren        8 13.125 5.083236 6   10.75 13.5   15.25 22
2 Stimpy     8 15.875 4.454131 9   14.00 16.0   18.25 23

In [47]:
Summarize(Attendees ~ Instructor + Location, data=Data)

  Instructor Location n mean  sd       min Q1    median Q3    max
1 Ren        North    4 12.50 7.505553  6   6.75 11.0   16.75 22
2 Stimpy     North    4 14.75 4.031129  9  13.50 16.0   17.25 18
3 Ren        South    4 13.75 1.707825 12  12.75 13.5   14.50 16
4 Stimpy     South    4 17.00 5.163978 11  14.00 17.0   20.00 23

<u>summarySE in Rmisc</u>

The <i>summarySE</i> function in the <i>Rmisc</i> package outputs the number of observations, mean, standard deviation, standard error of the mean, and confidence interval for grouped data.  The <i>summarySE</i> function allows you to summarize over the combination of multiple independent variables by listing them as a vector, e.g. c("Instructor", "Student").

In [48]:
library(Rmisc)
summarySE(data=Data,
          "Attendees",
          groupvars="Instructor",
          conf.interval = 0.95)

  Instructor N Attendees sd       se       ci
1 Ren        8 13.125    5.083236 1.797195 4.249691
2 Stimpy     8 15.875    4.454131 1.574773 3.723747

In [49]:
summarySE(data=Data,
          "Attendees",
          groupvars = c("Instructor", "Location"),
          conf.interval = 0.95)

  Instructor Location N Attendees sd       se        ci
1 Ren        North    4 12.50     7.505553 3.7527767 11.943011
2 Ren        South    4 13.75     1.707825 0.8539126  2.717531
3 Stimpy     North    4 14.75     4.031129 2.0155644  6.414426
4 Stimpy     South    4 17.00     5.163978 2.5819889  8.217041

<u>describeBy in psych</u>

The <i>describeBy</i> function in the psych package returns the number of observations, mean, median, trimmed means, minimum, maximum, range, skew, kurtosis, and standard error of the mean for grouped data.  <i>describeBy</i> allows you to summarize over the combination of multiple independent variables by combining terms with a colon (:).

In [50]:
library(psych)

describeBy(Data$Attendees,
          group = Data$Instructor,
          digits = 4)

 Descriptive statistics by group
group: Ren
   vars n  mean   sd median trimmed  mad min max range skew kurtosis  se
X1    1 8 13.12 5.08   13.5   13.12 2.97   6  22    16 0.13    -1.08 1.8
------------------------------------------------------------
group: Stimpy
   vars n  mean   sd median trimmed  mad min max range  skew kurtosis   se
X1    1 8 15.88 4.45     16   15.88 3.71   9  23    14 -0.06    -1.26 1.57

In [51]:
describeBy(Data$Attendees,
           group = Data$Instructor : Data$Location,
           digits= 4)

 Descriptive statistics by group
group: Ren:North
   vars n mean   sd median trimmed  mad min max range skew kurtosis   se
X1    1 4 12.5 7.51     11    12.5 6.67   6  22    16 0.26    -2.14 3.75
------------------------------------------------------------
group: Ren:South
   vars n  mean   sd median trimmed  mad min max range skew kurtosis   se
X1    1 4 13.75 1.71   13.5   13.75 1.48  12  16     4 0.28    -1.96 0.85
------------------------------------------------------------
group: Stimpy:North
   vars n  mean   sd median trimmed  mad min max range  skew kurtosis   se
X1    1 4 14.75 4.03     16   14.75 2.22   9  18     9 -0.55    -1.84 2.02
------------------------------------------------------------
group: Stimpy:South
   vars n mean   sd median trimmed  mad min max range skew kurtosis   se
X1    1 4   17 5.16     17      17 5.93  11  23    12    0    -2.08 2.58

<h4>Summaries for data frames</h4>

Often we will want to summarize variables in a whole data frame, either to get some summary statistics for individual variables, or to check that variables have the values we expected in inputting the data, to be sure there wasn’t some error.

<u>The <i>str</i> function</u>

The <i>str</i> function in the native <i>utils</i> package will list variables for a data frame, with their types and levels.  <i>Data</i> is the name of the data frame, created above.

In [52]:
str(Data)

'data.frame':	16 obs. of  3 variables:
 $ Instructor: Factor w/ 2 levels "Ren","Stimpy": 1 1 1 1 1 1 1 1 2 2 ...
 $ Location  : Factor w/ 2 levels "North","South": 1 1 1 1 2 2 2 2 1 1 ...
 $ Attendees : int  7 22 6 15 12 13 14 16 18 17 ...

<u>The summary function</u>

The <i>summary</i> function in the native <i>base</i> package will summarize all variables in a data frame, listing the frequencies for levels of nominal variables; and for interval/ratio data, the minimum, 1st quartile, median, mean, 3rd quartile, and maximum.

In [53]:
summary(Data)

  Instructor  Location   Attendees
 Ren   :8    North:8   Min.   : 6.00
 Stimpy:8    South:8   1st Qu.:11.75
                       Median :15.00
                       Mean   :14.50
                       3rd Qu.:17.25
                       Max.   :23.00

<u>The <i>headTail</i> function in <i>psych</i></u>

The <i>headTail</i> function in the <i>psych</i> package reports the first and last observations for a data frame.

In [54]:
library(psych)
headTail(Data)

    Instructor Location Attendees
1   Ren        North    7
2   Ren        North    22
3   Ren        North    6
4   Ren        North    15
... NA         NA       ...
13  Stimpy     South    15
14  Stimpy     South    11
15  Stimpy     South    19
16  Stimpy     South    23

<u>The <i>describe</i> function in <i>psych</i></u>

The <i>describe</i> function in the <i>psych</i> package reports number of observations, mean, standard deviation, trimmed means, minimum, maximum, range, skew, kurtosis, and standard error for variables in a data frame. 

Note that factor variables are labeled with an asterisk (*), and the levels of the factors are coded as 1, 2, 3, etc.

In [55]:
library(psych)

describe(Data)

            vars n  mean sd        median trimmed mad    min max range
Instructor* 1    16  1.5 0.5163978  1.5    1.5    0.7413 1    2   1
Location*   2    16  1.5 0.5163978  1.5    1.5    0.7413 1    2   1
Attendees   3    16 14.5 4.8304589 15.0   14.5    4.4478 6   23  17
            skew        kurtosis   se
Instructor*  0.00000000 -2.1210937 0.1290994
Location*    0.00000000 -2.1210937 0.1290994
Attendees   -0.04158877 -0.8783418 1.2076147

<b>Dealing with missing values</b>

In R, a missing value is indicated with <i>NA</i>.

By default, different functions in R will handle missing values in different ways.  But most have options to change how they treat missing data.

In [56]:
Input = ("
Instructor  Location  Attendees
Ren         North      7
Ren         North     22
Ren         North      6
Ren         North     15
Ren         South     12
Ren         South     13
Ren         South     NA
Ren         South     16
Stimpy      North     18
Stimpy      North     17
Stimpy      North     NA
Stimpy      North      9
Stimpy      South     15
Stimpy      South     11
Stimpy      South     19
Stimpy      South     23
")

Data2 = read.table(textConnection(Input),header=TRUE)

In [57]:
Data2

   Instructor Location Attendees
1  Ren        North     7
2  Ren        North    22
3  Ren        North     6
4  Ren        North    15
5  Ren        South    12
6  Ren        South    13
7  Ren        South    NA
8  Ren        South    16
9  Stimpy     North    18
10 Stimpy     North    17
11 Stimpy     North    NA
12 Stimpy     North     9
13 Stimpy     South    15
14 Stimpy     South    11
15 Stimpy     South    19
16 Stimpy     South    23

<u>The <i>na.rm</i> option for missing values with a simple function</u>

Many common functions in R have a <i>na.rm</i> option.  If this option is set to <i>FALSE</i>, the function will return an <i>NA</i> result if there are any NA’s in the data values passed to the function.  If set to <i>TRUE</i>, observations with NA values will be discarded, and the function will continue to calculate its output.

Note that the <i>na.rm</i> option operates only on the data values actually passed to the function.  In the following example with median, only <i>Attendees</i> is passed to the function; if there were NA’s in other variables, this would not affect the function.

Not all functions have the same default for the <i>na.rm</i> option.  To determine the default, use e.g. <i>?median, ?mean, ?sd</i>.

In [65]:
m = median(Data2$Attendees, na.rm = FALSE)
if (is.na(m)) {
    print("Result is NA")
}

[1] "Result is NA"

<u>Missing values with <i>Summarize</i> in FSA</u>

<i>Summarize</i> in FSA will indicate invalid values, including NA’s, with the count of valid observations outputted as the variable <i>nvalid</i>.

In [67]:
library(FSA)
Summarize(Attendees ~ Instructor, data = Data2)

  Instructor n nvalid mean sd       min Q1   median Q3   max
1 Ren        8 7      13   5.477226 6    9.5 13     15.5 22
2 Stimpy     8 7      16   4.795832 9   13.0 17     18.5 23

<u>Missing values indicated with summary function</u>
    
The <i>summary</i> function counts NA’s for numeric variables.

In [68]:
summary(Data2)

  Instructor  Location   Attendees
 Ren   :8    North:8   Min.   : 6.00
 Stimpy:8    South:8   1st Qu.:11.25
                       Median :15.00
                       Mean   :14.50
                       3rd Qu.:17.75
                       Max.   :23.00
                       NA's   :2

<u>Missing values in the describe function in psych</u>

The <i>describe</i> function in the <i>psych</i> package removes NA’s by default.

In [70]:
library(psych)
describe(Data2$Attendees)

   vars n  mean sd       median trimmed mad    min max range skew
X1 1    14 14.5 5.185038 15     14.5    5.1891 6   23  17    -0.03843063
   kurtosis  se
X1 -1.173539 1.38576

<u>Missing values in the <i>summarySE</i> function in <i>Rmisc</i></u>

By default, the <i>summmarySE</i> function does not remove NA's, but can be made to do so with the <i>na.rm=TRUE</i> option.

In [71]:
library(Rmisc)
summarySE(data=Data2, "Attendees")

  .id N  Attendees sd se ci
1 NA  16 NA        NA NA NA

In [72]:
library(Rmisc)
summarySE(data=Data2, "Attendees", na.rm=TRUE)

  .id N  Attendees sd       se      ci
1 NA  14 14.5      5.185038 1.38576 2.993752

<u>Advanced Techniques</u>

<i>Discarding subjects</i>

Subjects can be deleted with the <i>subset</i> function.  The following code creates a new data frame, <i>Data3</i>, with all observations with <i>NA</i> in the variable <i>Attendees</i> removed from Data2.

In [73]:
Data3 = subset(Data2, !is.na(Attendees))
Data3

   Instructor Location Attendees
1  Ren        North     7
2  Ren        North    22
3  Ren        North     6
4  Ren        North    15
5  Ren        South    12
6  Ren        South    13
8  Ren        South    16
9  Stimpy     North    18
10 Stimpy     North    17
12 Stimpy     North     9
13 Stimpy     South    15
14 Stimpy     South    11
15 Stimpy     South    19
16 Stimpy     South    23

<u>Optional code: removing missing values in vectors</u>

If functions don’t have a <i>na.rm</i> option, it is possible to remove NA observations manually.  Here we’ll create a vector called <i>valid</i> that just contains those values of <i>Attendees</i> that are not NA’s. 

The <i>!</i> operator is a logical <i>not</i>.  The brackets serve as a list of observations to include for the preceding variable.  So, the code essentially says, “Define a vector <i>valid</i> as the values of <i>Attendees</i> where the values of <i>Attendees</i> are <i>not NA</i>.”

In [74]:
valid = Data2$Attendees[!is.na(Data2$Attendees)]
summary(valid)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   6.00   11.25   15.00   14.50   17.75   23.00

<b>Statistics of shape for interval/ratio data</b>

Understanding skewness and kurtosis are important as they are ways in which a distribution of data varies from a normal distribution.  This will be important in assessing the assumptions of certain statistical tests.

<u>Skewnesss</u>

Skewness indicates the degree of asymmetry in a data set.  If there are relatively more values that are far greater than the mean, the distribution is positively skewed or right skewed, with a tail stretching to the right.  Negative or left skew is the opposite.

A symmetric distribution has a skewness of 0.  The skewness value for a positively skewed distribution is positive, and a negative value for a negatively skewed distribution.  Sometimes a skew with an absolute value greater than 1 or 1.5 or 2 is considered highly skewed.  There is not agreement on this interpretation.

There are different methods to calculate skew and kurtosis.  The <i>describe</i> function in the <i>psych</i> package has three options for how to calculate them.

In [78]:
library(psych)
describe(Data$Attendees, type=3)

   vars n  mean sd       median trimmed mad    min max range skew
X1 1    16 14.5 4.830459 15     14.5    4.4478 6   23  17    -0.04158877
   kurtosis   se
X1 -0.8783418 1.207615

<u>Kurtosis</u>

Kurtosis measures the degree to which the distribution has either fewer and less extreme outliers, or more and more extreme outliers. In general, the higher the kurtosis, the sharper the peak and the longer the tails. This is called leptokurtic, and is indicated by positive kurtosis values. The opposite—platykurtosis—has negative kurtosis values.

Confusingly, the kurtosis for a normal distribution is sometimes defined as 0, and sometimes defined as 3. The former is often called “excess kurtosis”.

Sometimes an excess kurtosis with an absolute value greater than 2 or 3 is considered a high deviation from being mesokurtic. There is not agreement on this interpretation.